<style>
    #table thead {
        background-color: #343a40;
        color: white;
    }
</style>

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Clientes</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Listado de Clientes</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Listado de Usuarios</h3>
                    </div>
                    <div class="card-body">

                        <div class="table-responsive-lg p-b-25">
                            <table id="table"
                                   data-toolbar="#toolbar"
                                   data-detail-view="true"
                                   data-search="true"
                                   class="table table-hover">
                                <thead class="header">
                                    <tr>
                                        <th data-field="UsuID" align="left">ID</th>
                                        <th data-field="UsuNombre" align="left">Nombre</th>
                                        <th data-field="UsuCorreo" align="left">Correo</th>
                                        <th data-field="UsuUsuario" align="left">Usuario</th>
                                        <th data-field="UsuContrasena" align="left">Contraseña</th>
                                        <th data-field="UsuTipo" data-formatter="usuTipoFormatter" align="left">Tipo</th>
                                        <th data-field="UsuActivo" data-formatter="usuActivoFormatter" align="left">Estado</th>
                                        <th data-formatter="accionesFormatter" class="acciones" align="center">Acciones</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div><!--.card-body-->
                </div>
            </div>
        </div>

    </div>
</section>

<link href="~/plugins/bootstra-table 5/bootstrap-table.css" rel="stylesheet" />

<script src="~/plugins/bootstra-table 5/bootstrap-table.js"></script>
<script src="~/plugins/bootstra-table 5/bootstrap-table-locale-all.js"></script>

<script>

    $(document).ready(function () {

        $.ajax({
            url: "@Url.Action("CargarUsuarios", "Usuarios")",
            type: "GET",
            async: false,
            success: function (response) {

                $('#table').bootstrapTable({
                    locale: "es-MX",
                    data: response,
                    cache: false,
                    paginationPreText: '<i class="fa fa-arrow-left"></i> Anterior',
                    paginationNextText: '<i class="fa fa-arrow-right"></i> Siguiente',
                    pagination: true,
                    pageSize: 50,
                    pageList: [25, 50, 100],
                    sortOrder: 'ID',
                });

                $('.loader').hide();
                $('#container').show();
            }
        });



    });

    //#region FORMATTER'S

    function usuTipoFormatter(value, row, index) {

        var html = '<div class="text-center">';

        switch (value) {
            case "A": html += '<span class="badge p-2 btn-success" style="color: white; width: 80%;">Administrador</span>'; break;
            case "O": html += '<span class="badge p-2 btn-primary" style="color: white; width: 80%;">Operacion</span>'; break;
            case "L": html += '<span class="badge p-2 btn-secondary" style="color: white; width: 80%;">Lectura</span>'; break;
            default: break;

        }

        html += '</div >';

        return html;
    }

    function usuActivoFormatter(value, row, index) {
        return '<div class="text-center">' + (value ?
            '<span class="badge p-2 btn-success" style="color: white; width: 80%;">Activo</span>' :
            '<span class="badge p-2 btn-secondary" style="color: white; width: 80%;">Inactivo</span>') +
            '</div>';
    }

    function accionesFormatter(value, row, index) {
        var html = '<div id="btnAcciones" class="text-center">' +
            '<button style="width: 40%; margin-right: 5px;" onclick="cargarUsuarioAlta(' + row.UsuID +');" type="button" title="Modificar Cliente" class="btn btn-success"> <i class="fa fa-edit"></i></button >' +
            '<button style="width: 40%; margin-right: 5px;" onclick="" type="button" title="Dar de baja" class="btn btn-danger "><i class="fa fa-trash"></i></button>' +
            '</div >';

        return html;
    }

    //endregion

</script>
