
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Datos Generales</h3>
                </div>
                <div class="card-body">
                    <div class="form-group">

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card card-primary">
                <div class="card-header">
                    <div class="form-group">

                    </div>
                </div>
                <div class="card-body">

                </div>
            </div>
        </div>
    </div>
</div>