
<div class="container-fluid">
    @* Datos generales *@
    <div class="row">
        <div class="col-md-12">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Datos Generales</h3>
                    <div class="card-tools">
                        <button class="btn btn-tool" type="button" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="txtNombre">Nombre:</label>
                        <input type="text" id="txtNombre" placeholder="Nombre Empresa SA de CV" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="txtDireccion">Direccion:</label>
                        <input type="text" id="txtDireccion" class="form-control" />
                    </div>
                    <div class="row">
                        <div class="col form-group">
                            <label for="txtNumInt">Número Interior:</label>
                            <input type="text" id="txtNumInt" class="form-control" />
                        </div>
                        <div class="col form-group">
                            <label for="txtNumInt">Número Exterior:</label>
                            <input type="text" id="txtNumExt" class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col form-group">
                            <label for="ddlCiudad">Ciudad:</label>
                            <select id="ddlCiudad" class="form-control">
                                <option value="Seleccionar">Seleccionar</option>
                            </select>
                        </div>
                        <div class="col form-group">
                            <label for="ddlEstado">Estado:</label>
                            <select id="ddlEstado" class="form-control">
                                <option value="Seleccionar">Seleccionar</option>
                            </select>
                        </div>
                        <div class="col form-group">
                            <label for="ddlPais">País:</label>
                            <select id="ddlPais" class="form-control">
                                <option value="Seleccionar">Seleccionar</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col form-group">
                            <label for="txtCP">CP:</label>
                            <input type="text" id="txtCP" class="form-control" />
                        </div>
                        <div class="col form-group">
                            <label for="txtRFC">RFC:</label>
                            <input type="text" id="txtRFC" class="form-control" />
                        </div>
                        <div class="col form-group">
                            <label for="txtNSS">NSS:</label>
                            <input type="text" id="txtNSS" class="form-control" />
                        </div>
                        <div class="col form-group">
                            <label for="txtIRS">IRS:</label>
                            <input type="text" id="txtIRS" class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col form-group">
                            <label for="txtTelefono">Telefono:</label>
                            <input type="text" id="txtTelefono" class="number form-control" placeholder="(___) ___-____" />
                        </div>
                        <div class="col form-group">
                            <label for="txtTelefonod">Telefono 2:</label>
                            <input type="text" id="txtTelefonod" class="number form-control" placeholder="(___) ___-____" />
                        </div>
                        <div class="col form-group">
                            <label for="txtUR">URL:</label>
                            <input type="text" id="txtUR" class="form-control" />
                        </div>
                        <div class="col form-group">
                            <label for="txtFAX">FAX:</label>
                            <input type="text" id="txtFAX" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @* Otros datos *@
    <div class="row">
        <div class="col-md-12">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Otros datos</h3>
                    <div class="card-tools">
                        <button class="btn btn-tool" type="button" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col form-group">
                            <label for="lblCliDesde">Cliente desde:</label>
                            <label id="lblCliDesde" class="form-control"></label>
                        </div>
                        <div class="col form-group">
                            <label for="txtManejosEx">CliManejosEx:</label>
                            <input type="number" id="txtManejosEx" step="0.01" value="0.0" class="number form-control" />
                        </div>
                        <div class="col form-group">
                            <label for="txtServCompEx">CliServCompEx:</label>
                            <input type="number" id="txtServCompEx" step="0.01" value="0.0" class="number form-control" />
                        </div>
                        <div class="col form-group">
                            <label for="txtServCompIm">CliServCompIm:</label>
                            <input type="number" id="txtServCompIm" step="0.01" value="0.0" class="number form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col form-group">
                            <label>CliHandlingIm:</label>
                            <input type="text" id="txtCliHandlingIm" value="" class="form-control" />
                        </div>
                        <div class="col form-group">
                            <label>CliAcumTransAñoP:</label>
                            <input type="number" id="txtCliAcumTransAñoP" step="1" value="0" min="0" class="number form-control" />
                        </div>
                        <div class="col form-group">
                            <label>CliAcumTransAñoD:</label>
                            <input type="number" id="txtCliAcumTransAñoD" step="1" value="0" min="0" class="number form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col form-group">
                            <label>CliAcumPesos</label>
                            <input type="text" id="txtCliAcumPesos" value="" class="form-control" />
                        </div>
                        <div class="col form-group">
                            <label>CliAcumDolar</label>
                            <input type="text" id="txtCliAcumDolar" value="" class="form-control" />
                        </div>
                        <div class="col form-group">
                            <label>CliPagaPesos</label>
                            <input type="text" id="txtCliPagaPesos" value="" class="form-control" />
                        </div>
                        <div class="col form-group">
                            <label>CliPagaDolar</label>
                            <input type="text" id="txtCliPagaDolar" value="" class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label>CliTotTrans</label>
                            <input type="number" id="txtCliTotTrans" value="" class="number form-control" />
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    @* Mas datos *@
    <div class="row">
        <div class="col-md-12">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Texto</h3>
                    <div class="card-tools">
                        <button class="btn btn-tool" type="button" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col form-group">
                            <label>TabID</label>
                            <input type="number" id="txtTabID" value="" class="number form-control" />
                        </div>
                        <div class="col form-group">
                            <label>TabIDImp</label>
                            <input type="number" id="txtTabIDImp" value="" class="number form-control" />
                        </div>
                        <div class="col form-group">
                            <label>TabIDCtaAm</label>
                            <input type="number" id="txtTabIDCtaAm" value="" class="number form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col form-group">
                            <label>TipPtoID</label>
                            <input type="text" id="txtTipPtoID" value="" class="form-control" />
                        </div>
                        <div class="col form-group">
                            <label>TipPtoID1</label>
                            <input type="text" id="txtTipPtoID1" value="" class="form-control" />
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col form-group">
                            <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                <input type="checkbox" id="chbCliRelAABCli" class="custom-control-input" />
                                <label class="custom-control-label" for="chbCliRelAABCli">CliRelAABCli</label>
                            </div>
                        </div>
                        <div class="col form-group">
                            <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                <input type="checkbox" id="chbCliRelAABPro" class="custom-control-input" />
                                <label class="custom-control-label" for="chbCliRelAABPro">CliRelAABPro</label>
                            </div>
                        </div>
                        <div class="col form-group">
                            <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                <input type="checkbox" id="chbCliRelAABPag" class="custom-control-input" />
                                <label class="custom-control-label" for="chbCliRelAABPag">CliRelAABPag</label>
                            </div>
                        </div>
                        <div class="col form-group">
                            <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                <input type="checkbox" id="chbCliRelAABDes" class="custom-control-input" />
                                <label class="custom-control-label" for="chbCliRelAABDes">CliRelAABDes</label>
                            </div>
                        </div>
                        <div class="col form-group">
                            <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                <input type="checkbox" id="chbCliManejosEsp" class="custom-control-input" />
                                <label class="custom-control-label" for="chbCliManejosEsp">CliManejosEsp</label>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col form-group">
                            <label for="txtCliFactA">CliFactA:</label>
                            <input type="text" id="txtCliFactA" value="" class="form-control" />
                        </div>
                        <div class="col form-group">
                            <label for="txtCliViaMensajes">CliViaMensajes:</label>
                            <input type="number" id="txtCliViaMensajes" value="" class="number form-control" />
                        </div>
                        <div class="col form-group">
                            <label for="txtCliFacDescuento">CliFacDescuento:</label>
                            <input type="number" id="txtCliFacDescuento" value="" class="number form-control" />
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    @* datos *@
    <div class="row">
        <div class="col-md-12">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Texto</h3>
                    <div class="card-tools">
                        <button class="btn btn-tool" type="button" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col form-group">
                            <label>CliFactHonorarios:</label>
                            <input type="number" id="txtCliFactHonorarios" class="number form-control" />
                        </div>
                        <div class="col form-group">
                            <label>CliFactHonorariosImp:</label>
                            <input type="number" id="txtCliFactHonorariosImp" class="number form-control" />
                        </div>
                        <div class="col form-group">
                            <label for="txtRegOrigId">RegOrigId</label>
                            <input type="text" id="txtRegOrigId" value="" class="form-control" />
                        </div>
                        <div class="col form-group">
                            <label>MetValID</label>
                            <input type="text" id="txtMetValID" value="" class="form-control" />
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col form-group">
                            <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                <input type="checkbox" id="chbCliPITEX" class="custom-control-input" />
                                <label class="custom-control-label" for="chbCliPITEX">CliPITEX</label>
                            </div>
                        </div>
                        <div class="col form-group">
                            <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                <input type="checkbox" id="chbCliMaquiladora" class="custom-control-input" />
                                <label class="custom-control-label" for="chbCliMaquiladora">CliMaquiladora</label>
                            </div>
                        </div>
                        <div class="col form-group">
                            <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                <input type="checkbox" id="chbCliEnvaMatriz" class="custom-control-input" />
                                <label class="custom-control-label" for="chbCliEnvaMatriz">CliEnvaMatriz</label>
                            </div>
                        </div>
                        <div class="col form-group">
                            <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                <input type="checkbox" id="chbCliRegla8a" class="custom-control-input" />
                                <label class="custom-control-label" for="chbCliRegla8a">CliRegla8a</label>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col form-group">
                            <label for="txtCliPasswordInternet">CliPasswordInternet</label>
                            <input type="text" id="txtCliPasswordInternet" value="" class="form-control" />
                        </div>
                        <div class="col form-group">
                            <label for="txtCliFraccionR8a">CliFraccionR8a</label>
                            <input type="text" id="txtCliFraccionR8a" value="" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @* y más datos *@
    <div class="row">
        <div class="col-md-12">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Texto</h3>
                    <div class="card-tools">
                        <button class="btn btn-tool" type="button" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col form-group">
                            <label>CliColonia</label>
                            <input type="text" id="txtCliColonia" value="" class="form-control" />
                        </div>
                        <div class="col form-group">
                            <label form="CliEsquina">CliEsquina</label>
                            <input type="text" id="txtCliEsquina" value="" class="form-control" />
                        </div>
                        <div class="col form-group">
                            <label for="CliSector">CliSector</label>
                            <input type="number" id="txtCliSector" value="" class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col form-group">
                            <label>ImpAraID</label>
                            <input type="text" id="txtImpAraID" value="" class="form-control" />
                        </div>
                        <div class="col form-group">
                            <label>IDProSec</label>
                            <input type="text" id="txtIDProSec" value="" class="form-control" />
                        </div>
                        <div class="col form-group">
                            <label>NumClienteTFM</label>
                            <input type="text" id="txtNumClienteTFM" value="" class="form-control" />
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col form-group">
                            <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                <input type="checkbox" id="chbActaConstitutiva" class="custom-control-input" />
                                <label class="custom-control-label" for="chbActaConstitutiva">ActaConstitutiva</label>
                            </div>
                        </div>
                        <div class="col form-group">
                            <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                <input type="checkbox" id="chbCIF" class="custom-control-input" />
                                <label class="custom-control-label" for="chbCIF">CIF</label>
                            </div>
                        </div>
                        <div class="col form-group">
                            <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                <input type="checkbox" id="chbR1-SHCP" class="custom-control-input" />
                                <label class="custom-control-label" for="chbR1-SHCP">R1-SHCP</label>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col form-group">
                            <label for="txtCURP">CURP</label>
                            <input type="text" id="txtCURP" value="" class="form-control" />
                        </div>
                        <div class="col form-group">
                            <label for="txtAgrupCliCtaMex">AgrupCliCtaMex</label>
                            <input type="text" id="txtAgrupCliCtaMex" value="" class="form-control" />
                        </div>
                        <div class="col form-group">
                            <label for="txtAgrupCliCtaAm">AgrupCliCtaAm</label>
                            <input type="text" id="txtAgrupCliCtaAm" value="" class="form-control" />
                        </div>
                        <div class="col form-group">
                            <label for="txtAgrupCliFede">AgrupCliFede</label>
                            <input type="text" id="txtAgrupCliFede" value="" class="form-control" />
                        </div>
                        <div class="col form-group">
                            <label for="txtAltaPor">AltaPor</label>
                            <input type="text" id="txtAltaPor" value="" class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col form-group">
                            <label for="txtFHAltaPor">FHAltaPor</label>
                            <input type="text" id="txtFHAltaPor" value="" class="datep form-control" />
                        </div>
                        <div class="col form-group">
                            <label for="txtCliObs">CliObs</label>
                            <input type="text" id="txtCliObs" value="" class="form-control" />
                        </div>
                        <div class="col form-group">
                            <label for="txtActualizo">Actualizo</label>
                            <input type="text" id="txtActualizo" value="" class="form-control" />
                        </div>
                        <div class="col form-group">
                                <label for="txtFHActualizo">FHAltaPor</label>
                                <input type="text" id="txtFHActualizo" value="" class="datep form-control" />
                        </div>
                        <div class="col form-group">
                            <label for="txtNombreCorto">NombreCorto</label>
                            <input type="text" id="txtNombreCorto" value="" class="form-control" />
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col form-group">
                            <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                <input type="checkbox" id="chbActivarPS" class="custom-control-input" />
                                <label class="custom-control-label" for="chbActivarPS">ActivarPS</label>
                            </div>
                        </div>
                        <div class="col form-group">
                            <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                <input type="checkbox" id="chbActivarR8va" class="custom-control-input" />
                                <label class="custom-control-label" for="chbActivarR8va">ActivarR8va</label>
                            </div>
                        </div>
                        <div class="col form-group">
                            <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                <input type="checkbox" id="chbCliActivo" class="custom-control-input" />
                                <label class="custom-control-label" for="chbCliActivo">CliActivo</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
