<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Modulo Clientes | Inicio Sesión</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css">
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <!-- /.login-logo -->
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <img src="~/assets/ISAA.png" />
            </div>
            <div class="card-body">
                <p class="login-box-msg">Ingrese sus datos para iniciar sesión</p>

                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Usuario">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="Contraseña">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            
                        </div>
                        <!-- /.col -->
                        <div class="col-4">
                            <button id="btnLogIn" type="submit" class="btn btn-primary btn-block">Ingresar</button>
                        </div>
                        <!-- /.col -->
                    </div>

            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>

    <!-- /.login-box -->
    <!-- jQuery -->
    <script src="../../plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    @*<script src="../../dist/js/adminlte.min.js"></script>*@

<script>

        $('#btnLogIn').on('click', function () {

            window.location.href = '@Url.Action("Index", "Dashboard")';

            @*$.ajax({
                url: "@Url.Action("Ingresar", "Home")", // Url
                type: "Post",  // Verbo HTTP
                data: data,
                // Si vas a utilizar “formData” para crear el objeto que enviaras, es muy importante incluir estos
                processData: false, contentType: false,
                success: function (response) {
                    if (response.error) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Hubo un problema',
                            text: response.message,
                            footer: '<br> Si el problema persiste, comuníquese [correo] junto con la pantalla de error.'
                        });
                    }
                    else {
                        switch () {
                            case "Incorrecto":
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Usuario y/o contraseña incorrectos',
                                    text: response.message,
                                    footer: '<br> Revise sus datos o consulte con []'
                                });
                                break;
                            case "Correcto":
                                 window.location.href = '@Url.Action("Index", "Dashboard")';
                                break;
                            default:
                                break;
                        }
                    }
                }
            });*@

        });

</script>

</body>


</html>
